{% extends 'base.html' %} {% block title %}Create to-do{% endblock %} {% block
content %}
<h1 class="mt-5 mb-2 text-center">
  <img
    src="{{ url_for('static', filename='icons/edit.svg') }}"
    class="icon"
    alt="Edit"
  />
  Create to-do
</h1>
<div class="d-flex justify-content-center mb-4">
  <div class="btn-group">
    <a href="{{ url_for('index.index') }}" class="btn btn-success btn-sm">
      <img
        src="{{ url_for('static', filename='icons/chevrons-left.svg') }}"
        class="icon"
        alt="Back"
      />
      Go back to home
    </a>
  </div>
</div>

{% if error %}
<div class="alert alert-danger text-center" role="alert">
  <img
    src="{{ url_for('static', filename='icons/alert-circle.svg') }}"
    class="icon"
    alt="Alert"
  />
  {{ error }}
</div>
{% endif %}

<form method="POST">
  <div class="form-group">
    <label for="todo-name">Name</label>
    <input
      name="todo-name"
      id="todo-name"
      type="text"
      class="form-control"
      placeholder="Enter to-do name"
      required
    />
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-primary" type="submit">
      <img
        src="{{ url_for('static', filename='icons/plus.svg') }}"
        class="icon"
        alt="Plus"
      />
      Add to-do
    </button>
  </div>
</form>
{% endblock %}
