{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5 mb-2 text-center"><i class="bi-clipboard-check"></i> To Do List</h1>
    <div class="d-flex justify-content-center mb-4">
        <div class="btn-group">
            <a href="{{ url_for('todo.index') }}" class="btn btn-success btn-sm"><i class="bi-clipboard-plus-fill"></i>
                Create new to-do</a>
            <a href="{{ url_for('index.export') }}" class="btn btn-dark btn-sm"><i class="bi-share-fill"></i> Export
                list to CSV</a>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info text-center" role="alert"><i class="bi-info-circle-fill"></i> {{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% if entries|length == 0 %}
    <h1 class="text-center">No entries found <i class="bi-emoji-tear-fill"></i></h1>
    {% else %}
    <table class="table justify-content-center text-center">
        <thead>
            <tr>
                <th scope="col"><i class="bi-hash"></i></th>
                <th scope="col"><i class="bi-type"></i></th>
                <th scope="col"><i class="bi-database-fill-check"></i></th>
                <th scope="col"><i class="bi-alarm"></i></th>
                <th scope="col"><i class="bi-hammer"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <th scope="row">{{ entry["id"] }}</th>
                <td>{{ entry["text"] }}</td>
                {% if entry["state"] == 0 %}
                <td><i class="bi-x-circle-fill" style="color:red"></i></td>
                {% else %}
                <td><i class="bi-check-circle-fill" style="color:green"></i></td>
                {% endif %}
                <td>{{ time_ago(entry["created_at"]) }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ url_for('todo.update', id=entry['id']) }}" class="btn btn-warning btn-sm">
                            <i class="bi-wrench"></i> Modify</a>
                        <a href="{{ url_for('todo.delete', id=entry['id']) }}" class="btn btn-danger btn-sm">
                            <i class="bi-x"></i> Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}